footer {
  padding: 1.5rem !important;
}

footer a {
  padding: 0 1em;
}

section {
  margin: -1.5em 0;
}

.fa-asterisk {
  color: firebrick;
}

.prev-next {
  padding-right: 3em;
}

#required {
  margin: -10px 5px 10px 5px;
}

.questions {
  margin: 25px auto;
}

@media only screen and (min-width: 768px) {
  #bottom-page-nav {
    display: none;
  }
}