
a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

.review-image { width: 400px; height: 300px;}

.container-form {
    width: 70%;
    margin-bottom: 5%;
}

.box-shadow {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}